<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <title>rDany MVP</title>
</head>
<body>
    <div class="container">
        <h1>MVP</h1>
        <p>Early version of rDany Minimum Viable Product - Follow rDany progress on <a href="https://twitter.com/rDanyBot" target="_blank">Twitter</a>, <a href="https://facebook.com/rDanyBot" target="_blank">Facebook</a> or <a href="https://t.me/rDany" target="_blank">Telegram</a>.</p>
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-2"><img src="static/rdany_avatar.png" alt="rDany avatar" class="img-circle"></div>
            <div class="col-xs-12 col-sm-9 col-md-10"><div id="current_answer"></div></div>
        </div>
        <div id="questions"></div>
        <h2>History</h2>
        <div id="answers"></div>
    </div>

    <script src="static/jquery-3.2.1.min.js"></script>
    <script src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script>

$( document ).ready(function() {
    get_answer(null);
});

text_processor_state = null
random_seed = Math.floor((Math.random() * 100000000) + 1);

function get_answer(question) {
    question_letter = null
    if (question != null) {
        $( "#answers" ).prepend("<div class='alert alert-danger' role='alert'><strong>Human:</strong><br>"+question+"</div>");
        question_letter = question[0]
    }
    arr = {
        "question": question_letter,
        "text_processor_state": text_processor_state,
        "random_seed": random_seed
    }
    var jqxhr = $.ajax( {method: "POST",
                        url: "/mvp_api",
                        data: JSON.stringify(arr),
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8'} )
        .done(function(msg) {
            text_processor_state = msg["text_processor_state"];
            questions_html = "";
            for (var i in msg["questions"]) {
                //questions_html += "<p><a href=\"#\" onclick=\"get_answer('"+msg["questions"][i]+"');return false;\">"+msg["questions"][i]+"</a></p>";
                questions_html += "<p><button class='btn btn-default' type='submit' onclick=\"get_answer('"+msg["questions"][i]+"');return false;\">"+msg["questions"][i]+"</button></p>";
            }
            if (questions_html != "") {
                $( "#questions" ).html(questions_html);
            }
            answers_html = ""
            for (var i in msg["answers"]) {
                answers_html += "<p>"+msg["answers"][i]+"</p>"
            }
            if (answers_html != "") {
                $( "#answers" ).prepend("<div class='alert alert-success' role='alert'><strong>rDany:</strong><br>"+answers_html+"</div>");
                $( "#current_answer" ).html("<div class='alert alert-success' role='alert'><strong>rDany:</strong><br>"+answers_html+"</div>");
            }
            if (text_processor_state["pause"]==true) {
                get_answer(null);
            }
        })
        .fail(function() {
            //alert( "error" );
        })
        .always(function() {
            //alert( "complete" );
    });
}

    </script>
</body>
</html>
